@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="card">
    <div class="card-body">
        <h4>Şifre Değiştirme Sayfası</h4>
    </div>
</div>
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<form asp-controller="User" asp-action="ChangePassword" method="post">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-icon alert-success" role="alert">
            @TempData["message"]
        </div>
    }
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <label for="PasswordOld" class="col-sm-2 col-form-label" asp-for="PasswordOld"></label>
                    <div class="col-sm-10">
                        <input asp-for="PasswordOld" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordOld"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="PasswordNew" class="col-sm-2 col-form-label" asp-for="PasswordNew"></label>
                    <div class="col-sm-10">
                        <input asp-for="PasswordNew" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordNew"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="PasswordConfirm" class="col-sm-2 col-form-label" asp-for="PasswordConfirm"></label>
                    <div class="col-sm-10">
                        <input asp-for="PasswordConfirm" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-3">Şifre Yenile</button>
</form>