@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href=".~/.~/.~/">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <title>Şifre Sıfırlama</title>
    <link rel="stylesheet" href="~/assets/css/dashlite.css?ver=3.0.0">
    <link id="skin-default" rel="stylesheet" href="~/assets/css/theme.css?ver=3.0.0">
</head>

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="~/images/h5.png" srcset="~/images/h5.png 2x" alt="logo">
                                <img class="logo-dark logo-img logo-img-lg" src="~/images/h5.png" srcset="~/images/h5.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Şifre Sıfırlama</h5>
                                        <div class="nk-block-des">
                                            <p>Şifrenizi unuttuysanız, şifrenizi sıfırlama talimatlarını size e-postayla göndereceğiz.</p>
                                        </div>
                                    </div>
                                </div>

                                @if (TempData["message"] != null)
                                {
                                    <div class="alert alert-icon alert-success" role="alert">
                                        @TempData["message"]
                                    </div>

                                }

                                <form orm asp-controller="User" asp-action="ForgetPassword" method="post">

                                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>                                   

                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="Email" asp-for="Email">Email</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <span class="text-danger" asp-validation-for="Email"></span>
                                            <input asp-for="Email" type="text" class="form-control form-control-lg" id="default-01" placeholder="Lütfen mail adresinizi giriniz">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-secondary btn-block">Sıfırlama Linkini Gönder</button>
                                    </div>
                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    <a class="text-blue" asp-controller="User" asp-action="SignIn"><strong>Giriş Sayfasına Dön</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/bundle.js?ver=3.0.0"></script>
    <script src="~/assets/js/scripts.js?ver=3.0.0"></script>
</body>
</html>

