@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = null;
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



<!DOCTYPE html>
<html lang="zxx" class="js">

<head>

    <base href=".~/.~/.~/">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <title>Kullanıcı Girişi</title>
    <link rel="stylesheet" href="~/assets/css/dashlite.css?ver=3.0.0">
    <link id="skin-default" rel="stylesheet" href="~/assets/css/theme.css?ver=3.0.0">  

</head>

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="html/index.html" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="~/images/h5.png" srcset="~/images/h5.png 2x" alt="logo">
                                <img class="logo-dark logo-img logo-img-lg" src="~/images/h5.png" srcset="~/images/lh5.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">Kullanıcı Girişi</h4>
                                        <div class="nk-block-des">
                                            <p>    </p>
                                        </div>
                                    </div>
                                </div>
                                <form asp-controller="User" asp-action="SignIn" method="post">
                                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label for="UserName" class="form-label" asp-for="UserName"></label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input asp-for="UserName" class="form-control" placeholder="Kullanıcı adınızı giriniz">
                                            <span class="text-danger" asp-validation-for="UserName"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Şifre</label>
                                            <a class="text  text-azure" asp-controller="User" asp-action="ForgetPassword">Şifremi Unuttum</a>
                                        </div>


                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Şifrenizi Giriniz">
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>

                                        <div class="form-check my-3">
                                            <label class="form-check-label">
                                                Beni Hatırla
                                                <input class="form-check-input" asp-for="RememberMe">
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-secondary btn-block enter-btn">Giriş</button>
                                        </div>


                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    Kullanıcın Yok mu ?<a class="text-azure" asp-controller="User" asp-action="SignUp">Yeni Kayıt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/bundle.js?ver=3.0.0"></script>
    <script src="~/assets/js/scripts.js?ver=3.0.0"></script>
</body>
</html>
