@model List<TaskCategoryListViewModel>

<body>
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row justify-between g-2 with-export">
                    <div id="DataTables_Table_3_filter" class="dataTables_filter">
                        <label>
                            <input type="search" id="searchInput" class="form-control form-control-sm" placeholder="Ara" aria-controls="DataTables_Table_3">
                        </label>
                    </div>
                    <div>
                        <a asp-controller="TaskCategory" asp-action="TaskCategoryCreate" class="btn btn-secondary d-none d-md-inline-flex my-3"><em class="icon ni ni-plus"></em><span>Yeni Ekle</span></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="nowrap table dtr-inline" data-export-title="Dışa Aktar" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info">
                    <thead>
                        <tr>
                            <th>İş Kategorisi Adı/Tanımı</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>@item.Name</td>
                                <td>
                                    <a class="btn btn-secondary" asp-action="TaskCategoryEdit" asp-route-id="@item.Id">Düzelt</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


