@model RoleUpdateViewModel
@{
    ViewData["Title"] = "RoleUpdate";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5>Rol Güncelle</h5>

                <form asp-controller="Role" asp-action="RoleUpdate">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (TempData["message"] != null)
                    {
                        @TempData["message"]
                    }
                    <div class="form-group my-5">
                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">                       
                        <input type="submit" value="Değiştir" class="btn btn-secondary" />
                    </div>
                    <a class="btn btn-info" asp-action="RoleList">Listeye Geri Dön</a>

                </form>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}