@if (User.Identity.IsAuthenticated)
{

    <li class="nav-item dropdown">
        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
            <div class=" navbar-profile">
                <img class="img-xs rounded-circle" src="~/userpicture/@TempData["UserPicture"]" />
                <p class="mb-0 d-none d-sm-block navbar-profile-name">@User.Identity.Name</p>

                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
            </div>
        </a>

        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" asp-controller="User" asp-action="UserDetails">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-face text-success"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject mb-1">Profil</p>
                </div>
            </a>

            @*<div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
        <div class="preview-icon bg-dark rounded-circle">
        <i class="mdi mdi-settings text-success"></i>
        </div>
        </div>
        <div class="preview-item-content">
        <p class="preview-subject mb-1" asp-controller="User" asp-action="UserEdit">Profil Güncelle</p>
        </div>
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
        <div class="preview-icon bg-dark rounded-circle">
        <i class="mdi mdi-key-change text-success"></i>
        </div>
        </div>
        <div class="preview-item-content">

        <p class="preview-subject mb-1" asp-controller="User" asp-action="ChangePassword">
        Şifre Değiştir</p>
        </div>
        </a>*@

            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" asp-controller="User" asp-action="Logout">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi  mdi-logout text-danger"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject mb-1">Çıkış Yap</p>
                </div>
            </a>
        </div>
    </li>
}
