<div>
    <div>
        <div>
            @await Component.InvokeAsync("OnayBekleyenComponent")
        </div>
        <div>
            <hr />
        </div>
        <div>
            @await Component.InvokeAsync("AylikOranComponent")
        </div>       
    </div>   
</div>



