@model AssetTypeCreateViewModel


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5>Tür Tanımı</h5>
                <hr />

                <form asp-controller="AssetType" asp-action="AssetTypeCreate">
                     @if (TempData["messageError"] != null)
                    {
                        <div class="alert alert-icon alert-danger" role="alert">
                            @TempData["messageError"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label">Tür Kodu</label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tür Adı/Tanımı</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Tür Açıklaması</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Oluştur" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="AssetTypeList" class="btn btn-info">Tür Listesi</a>
        </div>
    </div>
</div>

